

<body *ngIf="!user" class="h-screen bg-gray-800 overflow-hidden flex items-center justify-center">
  <div class="bg-gray-700 w-1/5 h-3/5 flex flex-col items-center justify-center rounded-lg p-6 shadow-2xl">
    <h1 class="text-white text-2xl font-semibold mb-4">Welcome to Concord</h1>
    <p class="text-white mb-6">Please sign in with Google to continue.</p>
    <button 
      class="bg-blue-500 text-white px-4 py-2 rounded hover:bg-blue-600 transition" 
      (click)="this.userService.signInWithGoogle()">
      Sign In with Google
    </button>
  </div>
</body>

<body *ngIf="user" class="h-screen bg-gray-800 overflow-hidden">
  
  
  <app-header></app-header>
  
  
  <div class="grid grid-cols-[20%_60%_20%]">

  <div class="flex flex-col h-screen">
    <div class="flex-grow overflow-auto p-4" >
      <app-chat-selection></app-chat-selection>
    </div>
  </div>

  <div class="flex flex-col h-screen p-4 shadow-2xl">
    <div class="flex-grow overflow-auto">
      <app-chat-window></app-chat-window>
    </div>
    <div class="pb-16">
      <app-message-input></app-message-input>
    </div>
  </div>

  <div class="flex flex-col h-screen">
    <div class="flex-grow overflow-auto p-4">
      <app-user-section></app-user-section>
    </div>
  </div>
</div>

  


</body>


